* {
  font-family: "Pixelify sans";
}

.login-container {
  padding: 16px;
  background-color: #aadee9b3;
  border-radius: 8px;
  width: 500px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 16px;
  align-items: center;
  font-size: large;
}

.input {
  font-size: large;
  padding: 12px;
  border: none;
  border-radius: 4px;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
}

button {
  background-color: #61dafb;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #21a1f1;
}
